/*
Landing page styling
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair display", sans-serif;
  box-sizing: border-box;

}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .codeLogo{
    position: relative;
    width:150px;
    height: 100px;
    margin-top: 8px;
   
   
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
  
}

header ul li a {
  display: flex;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  margin-left: 40px;
}

header ul li a:hover{
    text-decoration: none;
    color: #ddab70;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .imgBox{
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-left: 30px;
}

.content .imgBox .hero-image img{
    width: 100px;

}

.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h1 {
  font-size: 2.8em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h1 span {
  color: #ddab70;
  font-size: 1em;
  font-weight: 900;
}

.receipe {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ddab70;
  border-color: #ddab70;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
}
.receipe:hover{
  background-color: #fff;
  color: #ddab70;
}
 img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 120px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
  color: #fff;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
  justify-content: space-between;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #ddab70;
    clip-path: circle(300px at right 400px);
}

/*About Us Styling*/
/* YourComponent.css */
section.about {
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddab70;
}
.about-content {
  float: left;
  width: 55%;
}

button.coffee {
  display: block;
  margin-top: 20px;
  padding: 6px 14px;
  background-color: #fff;
  border: 2px solid #fff;
  color: #ddab70;
  border-radius: 20px;
  font-weight: 200;
  text-decoration: none;

}

button.coffee:hover{
  text-decoration: none;
  background-color: #ddab70;
  color: #fff;
  
}

.about-image {
  flex: 1;
  margin-right: 50px;
  width: 80%;
}

.about-image img {
  width: 100%;
  height: auto;
  min-height: 70vh;
  width: 400px;
  margin-top: -50px;
  height: 400px;
  margin-left: 60px;
}

/*Adding responsive to the about page */
/* media query for screens with a maximum width of 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  section.about {
    flex-direction: column;
    padding: 50px 20px;
  }

  .about-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .about-image {
    width: 100%;
    margin-right: 0;
  }

  .about-image img {
    width: 100%;
    height: auto;
    min-height: auto;
    margin-top: 0;
    margin-left: 0;
  }
}

/*  media query for screens with a width between 769px and 1023px  */
@media (min-width: 769px) and (max-width: 1023px) {
  .about-content {
    width: 60%;
  }

  .about-image {
    width: 40%;
    margin-right: 0;
  }

  .about-image img {
    width: 100%;
    height: auto;
    min-height: auto;
    margin-top: 0;
    margin-left: 0;
  }
}

/* media query for screens with a minimum width of 1024px  */
@media (min-width: 1024px) {
  section.about {
    padding: 100px;
  }

  .about-content {
    width: 55%;
    margin-bottom: 0;
    text-align: left;
  }

  .about-image {
    width: 40%;
    margin-right: 50px;
  }

  .about-image img {
    width: 100%;
    height: auto;
    min-height: 70vh;
    width: 400px;
    margin-top: -50px;
    height: 400px;
    margin-left: 60px;
  }
}

  /* Styling for Receipe List*/
.receipeList{
    background-color: #ddab70;
    background-size: cover;
    padding: 3%;
}
.receipeContainer{
    display:flex;
    flex-wrap: wrap;
    gap: 4rem;

}
.receipeContainer .box{
    flex: 1 1 10rem;
    background: #f7f3f3;
    padding: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-right: 40px;
    padding-bottom: 40px;
}
.receipeContainer .box .box-image{
        width: 120px;
        height: 120px;
        margin-top: -40px;
}

.receipeContainer .box .box-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position:contain;
    margin-top:-30px;
    margin-left: 25px;
    
}
.box .btn{
    border:2px solid #000;
    color: #fff;
    background-color: #000;
    border-radius: 12px;
}

.box .btn:hover{
    background-color: #fff;
    color: #000;
}

.receipe-heading{
    margin-right:60px;
    margin-top: -30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

 span{
    text-align:center;
    color:#f7f3f3;
}

